@import 'tailwindcss';

@layer base {
  html,
  body,
  #root {
    min-width: 800px;
    overflow-x: auto;
  }
}

body {
  @apply bg-gray-100;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(40px);
  }
}
